{{> header_before}}
<div class="cd-section" id="contact-us">
<div class="contactus-2">
    <div id="contactUs2Map" class="map" style="overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div class="gm-err-container"><div class="gm-err-content"><div class="gm-err-icon"><img src="https://maps.gstatic.com/mapfiles/api-3/images/icon_error.png" draggable="false" style="user-select: none;"></div><div class="gm-err-title">Sorry! Something went wrong.</div><div class="gm-err-message">This page didn't load Google Maps correctly. See the JavaScript console for technical details.</div></div></div></div></div>


    <div class=" col-md-6">
        <div class="card card-contact card-raised">
            <form role="form" id="contact-form" method="post">
                <div class="header header-raised header-rose text-center">
                    <h4 class="card-title">Contact Us</h4>
                </div>
                <div class="card-content">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="info info-horizontal">
                                <div class="description">
                                    <h5 class="info-title">Give us a ring</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info info-horizontal">
                                <div class="icon icon-rose">
                                    <i class="material-icons">phone</i>
                                </div>
                                <div class="description">
                                    <h5 class="info-title">+91 1245-124-451</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group label-floating form-rose is-empty">
                                <label class="control-label">Full Name</label>
                                <input type="text" name="name" class="form-control">
                            <span class="material-input"></span></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group label-floating form-rose is-empty">
                                <label class="control-label">Email address</label>
                                <input type="email" name="email" class="form-control">
                            <span class="material-input"></span></div>
                        </div>
                    </div>

                    <div class="form-group label-floating form-rose is-empty">
                        <label class="control-label">Your message</label>
                        <textarea name="message" class="form-control" id="message" rows="6"></textarea>
                    <span class="material-input"></span></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="optionsCheckboxes">
                                    I'm not a robot
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-rose pull-right">Send Message</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
</div>
    {{> footer}}
