{{> header_before}}
<div class="page-header header-filter" style="background-image: url('../assets/img/img/running.jpg'); background-size: cover; background-position: top center;">
      <div class="container bottom-vh">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="card card-signup">
              <form class="form" action="/login" method="post" id="login_form">
                <div class="header header-primary text-center">
                  <h4 class="card-title">Forgot Password?</h4>
                </div>
                <p class="description padding-forgot-msg">Enter your email address to get a verification link to reset your password.</p>
                <div class="alert alert-danger" id="alert" style="display:none;">
                    <div class="alert-icon">
                      <i class="material-icons">error_outline</i>
                    </div>
                    <button type="button" class="close" aria-label="Close">
                      <span aria-hidden="true"><i class="material-icons">clear</i></span>
                    </button>
                    <b>Error :</b> <span class='error'></span>
                </div>
                <div class="card-content">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="material-icons">email</i>
                    </span>
                    <input type="text" class="form-control" placeholder="Email..." name="email">
                  </div>
                </div>
                <div class="footer text-center margin-top-0">
                  <button type="submit" class="btn btn-primary btn-simple btn-wd btn-lg">Verify</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

{{> footer}}
