{{> header_before}}
<div class="page-header header-filter" style="background-image: url('../assets/img/img/running.jpg'); background-size: cover; background-position: top center;">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="card card-signup">
              <form class="form" action="/login" method="post" id="login_form">
                <div class="header header-primary text-center">
                  <h4 class="card-title">Log in</h4>
                  <div class="social-line">
                    <a href="#" class="btn btn-just-icon btn-simple">
                      <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="#" class="btn btn-just-icon btn-simple">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </div>
                </div>
                <p class="description text-center">Or Be Classical</p>
                <div class="alert alert-danger" id="alert" style="display:none;">
                    <div class="alert-icon">
                      <i class="material-icons">error_outline</i>
                    </div>
                    <button type="button" class="close" aria-label="Close">
                      <span aria-hidden="true"><i class="material-icons">clear</i></span>
                    </button>
                    <b>Error :</b> <span class='error'></span>
                </div>
                <div class="card-content">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="material-icons">email</i>
                    </span>
                    <input type="text" class="form-control" placeholder="Email..." name="email">
                  </div>
  
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="material-icons">lock_outline</i>
                    </span>
                    <input type="password" placeholder="Password..." class="form-control"  name="password"/>
                  </div>
                  <span class="pull-right">
                   <a href="/forgot-password" class="forgot">I Forgot My Password</a>
                  </span>
                </div>
                <div class="footer text-center">
                  <button type="submit" class="btn btn-primary btn-simple btn-wd btn-lg">Get Started</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

{{> footer}}
      <!-- Full Width Column -->
  <!-- <div class="content-wrapper">
    <div class="container">

      <div class="login-box">
        <div class="login-logo">
          <a href="../../index2.html"><b>Admin</b>LTE</a>
        </div>

        <div class="login-box-body">
          <p class="login-box-msg">Login to start your session</p>
          <div class="alert alert-danger alert-dismissible" style="display:none" id="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <p></p>
          </div>
          <form action="/login" method="post" id="login_form">
            <div class="form-group has-feedback">
              <input type="text" class="form-control" placeholder="Email" name="email">
              <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input type="password" class="form-control" placeholder="Password" name="password">
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
              <div class="col-xs-7 col-xs-offset-1">
                <div class="checkbox icheck">
                  <label>
                    <input type="checkbox" /> Remember Me
                  </label>
                </div>
              </div>

              <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
              </div>

            </div>
          </form>


          
          <a class="pull-right" href="/forgot_password">I forgot my password</a><br>
        </div>

      </div>

      

    </div>

  </div> -->
