{{> header_before}}
<div class="page-header header-filter  short-header subscribe-line" data-parallax="true" style="background-image: url(&quot;../assets/img/img/blog-running.jpg&quot;); transform: translate3d(0px, 1800.33px, 0px);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="col-md-6 col-md-offset-3">
                    <div class="card">
                        <div class="card-content pad-right-10">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised blog-post">
    <div class="container">
        <div class="section section-text">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <h4 class="training-title">Training Progress</h4>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="nav nav-pills nav-pills-rose nav-stacked">
                                <li class="active"><a href="#tab1" data-toggle="tab" aria-expanded="true">Session 1</a></li>
                                <li class=""><a href="#tab2" data-toggle="tab" aria-expanded="false">Session 2</a></li>
                                <li class=""><a href="#tab3" data-toggle="tab" aria-expanded="false">Session 3</a></li>
                                <li class=""><a href="#tab4" data-toggle="tab" aria-expanded="false">Session 4</a></li>
                                <li class=""><a href="#tab5" data-toggle="tab" aria-expanded="false">Session 5</a></li>
                                <li class=""><a href="#tab6" data-toggle="tab" aria-expanded="false">Session 6</a></li>
                                <li class=""><a href="#tab7" data-toggle="tab" aria-expanded="false">Session 7</a></li>
                                <li class=""><a href="#tab8" data-toggle="tab" aria-expanded="false">Session 8</a></li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <div class="card">
                                        <div class="date">
                                            <span>12 Feb, 2018</span><span style="margin-left:30px">08:30 AM</span>
                                        </div>
                                        <div class="status">
                                            <span class="label label-warning">Pending approval from admin</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <div class="card">
                                        <div class="date">
                                            <span>15 Feb, 2018</span><span style="margin-left:30px">08:30 AM</span>
                                        </div>
                                        <div class="status">
                                            <span class="label label-info">Schedule approved</span>
                                        </div>
                                    </div>
                               </div>
                                <div class="tab-pane" id="tab3">
                                    <div class="card">
                                        <div class="date">
                                            <span>18 Feb, 2018</span><span style="margin-left:30px">08:30 AM</span>
                                        </div>
                                        <div class="status">
                                            <span class="label label-success">Session Completed</span>
                                        </div>
                                    </div>
                                    <div class="session-detail row">
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-content content-info">                                                    
                                                    <div class='row'>
                                                        <div class="col-xs-6">
                                                            <h4 class="card-numbers">08:26 AM</h4>
                                                            <h6 class="card-numbers-tag">Started</h6>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <h4 class="card-numbers">09:36 AM</h4>
                                                            <h6 class="card-numbers-tag">Complated</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="training-feedback">
                                                <h4>Training Points</h4>
                                                <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet </p>
                                            </div>
                                            <div class="training-feedback">
                                                <h4>Trainer Remarks</h4>
                                                <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet </p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <!-- <div class="card feedback-form">
                                                <form action="">
                                                    <div class="input-group">
                                                        <div class="form-group is-empty">
                                                            <textarea rows="5" cols="100" class="form-control" placeholder="Your feedback..." name="email"></textarea>
                                                            <span class="material-input"></span>
                                                        </div>
                                                    </div>
                                                    <div class="text-center">
                                                        <button type="submit" class="btn btn-primary btn-simple btn-wd btn-lg">Submit<div class="ripple-container"></div></button>
                                                    </div>
                                                </form>
                                            </div>
 -->
                                            <div class="training-feedback">
                                                <h4>Your Feedback</h4>
                                                <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet </p>
                                            </div>
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}